html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #6c757d;
}
header nav {
    background-color: #e9ecef;
}

.inlie-block {
    display: inline-block;
}




#time-left {
    display: none;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.correct {
    background-color: rgba(6, 241, 6, 0.521);
}
.wrong {
    background-color: rgba(247, 67, 67, 0.692);
}

footer {
    margin-top: auto;
    border-top: 2px solid #007bff;
    
}

@media (max-width: 1200px) { 
    .display-4 {
        font-size: 2.5rem;
    } 
    .high-scores-div {
        display: none;
    }
    .main-content {
        max-width: 96%;
        margin: 2rem auto;
    }
 }

